@import url("https://fonts.googleapis.com/css2?family=Aleo&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Aleo", serif;
  background-color: #1a1a1c;
  color: #fff;
  overflow-x: auto;
}

.heading {
  display: flex;
  justify-content: space-around;
  margin: 20px 40px;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.logo {
  font-size: 30px;
}

.inputField {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 3px solid #555;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 10px;
  outline: none;
}

input[type="text"]:focus {
  border: 3px solid #ccc;
}

.cryptoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  color: #fff;
}

.coin-section {
  display: flex;
  justify-content: center;
}

.coin-heading {
  font-size: 40px;
  margin-left: 10px;
}

.coin-logo {
  height: 50px;
  width: 50px;
}

.chart-container {
  text-align: center;
}

.chart-heading {
  font-size: 20px;
  margin: 10px 10px;
  display: block;
}

.invterval-heading {
  font-size: 15px;
}

.expand-button {
  position: absolute;
  top: 84%;
  left: 73%;
  border: 0;
  border-radius: 50%;
  transition: 0.2s all;
}

.expand-button:hover {
  color: #555;
}

.expand-arrow {
  font-size: 20px;
  padding: 10px;
}

.expand-arrow:hover {
  color: #008cba;
}

.compress-button {
  position: absolute;
  top: 10px;
}

.chart {
  position: relative;
}

.chart canvas {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: auto;
  display: inline-block;
  width: 750px;
  border-radius: 20px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
  margin-top: 10px;
}

.full-size {
  z-index: 1;
  width: 90%;
  height: 100%;
  position: fixed;
  top: 10px;
  left: 5%;
}

.compress-button {
  right: -10px;
  top: 2px;
  border-radius: 50%;
  border: 0;
  transition: 0.2s all;
}

.compress-button:hover {
  color: #555;
}

.compress-arrow {
  font-size: 20px;
  padding: 10px;
}

.compress-arrow:hover {
  color: #008cba;
}

.button {
  /* Green */
  border: none;
  color: white;
  /* padding: 16px 32px; */
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border-radius: 5px;
}

.active {
  background-color: #008cba;
  color: white;
}

@media (max-width: 1300px) {
  .chart canvas {
    width: 600px;
  }
}

@media (max-width: 1100px) {
  .chart {
    flex-direction: column;
  }
}

@media (max-width: 520px) {
  .heading {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo h1 {
    padding-bottom: 16px;
  }

  .inputField {
    width: 220px;
    height: 38px;
  }

  .chart {
    flex-direction: column;
    align-items: center;
  }

  .chart canvas {
    width: 300px;
  }
}
