@import url("https://fonts.googleapis.com/css2?family=Aleo&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Aleo", serif;
  background-color: #1a1a1c;
  color: #fff;
}

.heading {
  display: flex;
  justify-content: space-around;
  margin: 40px;
}

.logo {
  font-size: 30px;
}

.inputField {
  padding-left: 16px;
  font-size: 14px;
  width: 260px;
  height: 42px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 3pt 2pt white;
  color: #e2e2e2;
}

.cryptoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  color: #fff;
}

.coin-section {
  display: flex;
  justify-content: center;
}

.coin-heading {
  font-size: 40px;
  margin-left: 10px;
}

.coin-logo {
  height: 50px;
  width: 50px;
}

.chart-container {
  text-align: center;
}

.chart-heading {
  font-size: 20px;
  margin: 10px 10px;
  display: block;
}

@media (max-width: 520px) {
  .heading {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo h1 {
    padding-bottom: 16px;
  }

  .inputField {
    width: 220px;
    height: 38px;
  }
}
